*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#0f172a,#1e293b,#334155);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
    color:white;
}

.container{
    width:100%;
    max-width:750px;
}

.header{
    text-align:center;
    margin-bottom:30px;
}

.header h1{
    font-size:3rem;
    color:#facc15;
}

.header p{
    color:#cbd5e1;
    margin-top:10px;
    font-size:1.1rem;
}

.card{
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.15);
    border-radius:25px;
    padding:40px;
}

.card h2{
    text-align:center;
    margin-bottom:30px;
}

.input-group{
    margin-bottom:20px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
}

input,select{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:rgba(255,255,255,0.1);
    color:white;
    font-size:16px;
}

input:focus,select:focus{
    outline:none;
    border:2px solid #facc15;
}

.dimension-container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:15px;
}

.area-box{
    margin:25px 0;
    background:#facc15;
    color:black;
    padding:18px;
    border-radius:12px;
    text-align:center;
    font-size:18px;
    font-weight:bold;
}

button{
    width:100%;
    padding:16px;
    border:none;
    border-radius:12px;
    background:#facc15;
    color:black;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(250,204,21,0.4);
}

@media(max-width:700px){
    .dimension-container{
        grid-template-columns:1fr;
    }
}

.installer-card {
    background: #ffffff;
    padding: 15px;
    margin-top: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

    color: #333333;
}

.installer-card h4 {
    color: #1b5e20;
    margin-bottom: 10px;
}

.installer-card p {
    color: #444444;
    margin: 6px 0;
}

.installer-card a {
    color: #2e7d32;
    text-decoration: none;
    font-weight: 600;
}

.installer-card a:hover {
    text-decoration: underline;
}
#loadingContainer{
    text-align:center;
    margin-top:30px;
    color:white;
}

.loader{
    width:60px;
    height:60px;
    border:6px solid rgba(255,255,255,0.3);
    border-top:6px solid #ffd700;
    border-radius:50%;
    animation: spin 1s linear infinite;
    margin:20px auto;
}

@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}